*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px ;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  padding: 4px ;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}
.card p{
  margin: 20px 0;
}

.card button{
  color: black;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
}
.wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.wrap2{
  display: flex;
  padding: 20px;
 width: 100%;
} 


.ui{
  background-color: rgb(221, 224, 173);
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px; 
  height: 250px;
}
.l-cards{
display: flex;
align-items: center;
justify-content: space-around;
}
.l-cards p{
  text-align: left;
  width: 140px;
}
.icon{
  width: 40px;

}